/* Your custom styles */
.cs-color.bluesum {
    background-color: #1969cc !important; }

.cs-color.whitesum{
    background-color: #b3bac2 !important;}

.cs-color.light-blue{
    background-color: #1d7cc4 !important;}

.cs-img.sum{
    background-image: "#img\backgroud\noisy-texture-100x100-o42-d14-c-1d7cc4-t0.png";}